sonar-project.properties                 @team-nuwe
/.github/**                              @team-nuwe
/src/main.ts                             @team-nuwe
/src/**/*.test.ts                        @team-nuwe
